body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #FFF1D7;
  letter-spacing: 3px;
  text-align: center;
  color: #5F8D37;
}
img {
  height: 10%;
  width: 10%;
  border-radius: 100px;
}

h1 {
  font-size: 80px;
}

h2 {
  color: #BB3E00;
}

input {
  margin-top: 30px;
  cursor: pointer;
}
#submit {
  padding: 7px;
  border-radius: 7px;
  width: 20%;
  background-color: rgba(247, 173, 69, 0.7);
  letter-spacing: 3px;
}

#submit:hover {
  background-color: #5F8D37;
  cursor: pointer;
}

#cost-display {
  color: #5F8D37;
}

